/* App.css (or any other CSS file where you want to define the styles) */
body, html {
  height: 100%;
  margin: 0;
  background-color: black!important;  /* Set the background color of the body */
  color: white; /* Set text color to white */
}

/* App class styles */
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  background-color: gray; /* Set the background color for the content area */
}

/* Border styles */
body {
  /* Set border properties for left and right sides */
  border-left: 30px solid orange; /* Set your desired border color and width */
  border-right: 30px solid orange; /* Set your desired border color and width */
}

/* Container styles */
.container {
  max-width: 100vw; /* Set your desired maximum width for content */
  height: 50px;
  margin: 0 auto; /* Center the content within the borders */
}
